<!-- CREATE RECIPE TEMPLATE -->

{% extends "base.html" %}

{% block content %}

<section class="base-section">

    <div class="create_recipe_form">

        <form action="{{ url_for('create_recipe') }}" method="post">

            <h3>Create New Recipe</h3>

            <fieldset class="f-set">
                <legend>Recipe Name/Description/Image</legend>

                <div class="form-input">
                    <i class="fa-solid fa-pen"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5"
                        maxlength="35" placeholder="Recipe Name:" required>
                </div>

                <div class="form-textarea">
                    <i class="fa-solid fa-pen"></i>
                    <textarea id="recipe_desc" name="recipe_desc" minlength="5"
                        maxlength="700" placeholder="Recipe Description" required></textarea>
                </div>

                <div class="form-input">
                    <i class="fa-solid fa-image"></i>
                    <input id="recipe_img" name="recipe_img" type="text" minlength="5"
                        maxlength="180" placeholder="e.g. https://img.freepik.com/free-photo/default-title_422131-141:">
                </div>



            </fieldset>

            <fieldset class="f-set auto-cols">
                <legend>Overview</legend>

                <div class="form-input">
                    <i class="fa-solid fa-clock"></i>
                    <input id="prep_time" name="prep_time" type="text" minlength="5"
                        maxlength="15" placeholder="Prep Time:" required>
                </div>
                <div class="form-input">
                    <i class="fa-solid fa-clock"></i>
                    <input id="cook_time" name="cook_time" type="text" minlength="5"
                        maxlength="15" placeholder="Cook Time:" required>
                </div>
                <div class="form-input">
                    <i class="fa-solid fa-clock"></i>
                    <input id="servings" name="servings" type="text" minlength="1"
                        maxlength="5" placeholder="Servings:" required>
                </div>
                <div class="form-combo">
                    <i class="fa-solid fa-bowl-food"></i>
                    <select id="meal_type" name="meal_type" required>
                        <option value="" disabled selected>Meal Type:</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                    </select>
                </div>
                
            </fieldset>

            <fieldset class="f-set">
                <legend>Ingredients</legend>
                <table class="form-tbl">
                    <thead>
                        <tr>
                            <th class="tbl-col-1">No</th>
                            <th>Ingredient</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in range(1, 31) %}
                            <tr>
                                <td><strong>{{x}}.</strong></td>
                                <td>
                                    <textarea id="ingredient-{{x}}" name="ingredients[]">

                                    </textarea>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>

            <fieldset class="f-set">
                <legend>Recipe Steps</legend>
                <table class="form-tbl">
                    <thead>
                        <tr>
                            <th class="tbl-col-1">Step</th>
                            <th>Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in range(1, 21) %}
                            <tr>
                                <td><strong>{{x}}.</strong></td>
                                <td>
                                    <textarea id="step_desc-{{x}}" name="step_desc[]" minlength="5" maxlength="500">

                                    </textarea>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <button class="btn btn-lg" type="submit"><i class="fa-solid fa-plus"></i>Add recipe</button>
        </form>

    </div>
</section>

{% endblock %}

