<!-- MY RECIPES TEMPLATE -->

{% extends "base.html" %}

{% block content %}

<section class="toolbar">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes center-align white-text text-shadow">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</section>

<section class="base-section">

</section>

{% endblock %}