<!-- VIEW RECIPES TEMPLATE -->

{% extends "base.html" %}

{% block content %}

<section class="recipe-section flex-col padding-md gap-lg">

    <!-- Review form -->
    <form action="{{ url_for('review', recipe_id=recipe._id) }}" method="post" class="review-form flex-col padding-md gap-md">
        <h2>Leave A Review</h2>
        <div class="form-textarea">
            <i class="fa-solid fa-pen"></i>
            <textarea id="review_desc" name="review_desc" minlength="5"
                maxlength="700" placeholder="Review Description" required></textarea>
        </div>
        <div class="form-input">
            <i class="fa-solid fa-star"></i>
            <input id="rating" name="rating" type="text" placeholder="Rating:" required>
        </div>
        <button class="btn std-btn btn-md" type="submit">Submit</button>
    </form>

    <div class="recipe-header-wrapper flex-col gap-lg">
        <h1>{{ recipe.recipe_name|title }}</h1>
        <!-- Search bar -->
         <div class="flex-col">
            <form action="{{ url_for('search', recipe_id=recipe._id) }}" method="post" class="searchbar">
                <input type="text" name="search" id="search" minlength="3" placeholder="Search:" required>
                <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="btn icon-btn tooltip" tooltip-text="Clear">
                    <i class="fa-solid fa-trash"></i>
                </a>
                <button class="btn icon-btn tooltip" type="submit" tooltip-text="Search">
                    <i class="fa-solid fa-search"></i>
                </button>
            </form>
            {% if recipes %}
            <div class="search-results-window flex-col gap-md padding-md">
                {% for r in recipes %}
                    <a class="search-result" href="{{ url_for('recipe', recipe_id=r._id) }}">
                        <img class="search-result-img" src="{{ r.recipe_img.src }}" alt="{{ r.recipe_img.alt }}">
                        {{ r.recipe_name }}

                    </a>
                {% endfor %}
            </div>
            {% endif %}
         </div>
    </div>

    <div class="recipe-top-wrapper gap-lg">
        <img class="recipe-image" src="{{ recipe.recipe_img.src }}"
                alt="Image of '{{ recipe.recipe_name|title }}' recipe."
                title="Image of '{{ recipe.recipe_name|title }}' recipe.">

        <div class="recipe-content flex-col gap-lg">
            <h4>Description</h4>
            <div class="h_seperator"></div>
            <p>{{ recipe.recipe_desc }}</p>
            <ul class="flex-col gap-lg">
                <li class="recipe-item">
                    <i class="fa-solid fa-utensils"></i>
                    Meal Type: {{ recipe.meal_type }}
                </li>
                <li class="recipe-item">
                    <i class="fa-solid fa-clock"></i>
                    Prep Time: {{ recipe.prep_time }}
                </li>
                <li class="recipe-item">
                    <i class="fa-solid fa-clock"></i>
                    Cook Time: {{ recipe.cook_time }}
                </li>
                <li class="recipe-item">
                    <i class="fa-solid fa-user"></i>
                    Servings: {{ recipe.servings }}
                </li>
            </ul>
        </div>
        <div class="flex-col gap-lg">
            <h4>Reviews</h4>
            <div class="h_seperator"></div>
            <div class="flex-row flex-center-align gap-md">
                {% if avg_rating == 5 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                {% elif avg_rating == 4.5 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star-half"></i>
                {% elif avg_rating == 4 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 3.5 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star-half"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 3 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 2.5 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star-half"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 2 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 1.5 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star fa-solid fa-star-half"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 1 %}
                    <i class="rating-star fa-solid fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% elif avg_rating == 0.5 %}
                    <i class="rating-star fa-solid fa-star-half"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% else %}
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                    <i class="rating-star-light fa-regular fa-star"></i>
                {% endif %}
                <p>from {{ total_reviews }} reviews</p>
            </div>
            <div class="flex-row gap-md">
                {% if recipe.created_by == session["user"] %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn social-media-btn tooltip" tooltip-text="Edit Recipe" aria-label="Edit recipe">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                {% endif %}
                <a class="btn social-media-btn tooltip" tooltip-text="Leave Review" aria-label="Leave Review" onclick="toggleReviewForm()">
                    <i class="fa-solid fa-face-smile"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="recipe-bottom-wrapper gap-lg">
         
        <div class="flex-col gap-lg">
            <h2>Ingredients</h2>
            <div class="h_seperator"></div>
            <ul class="flex-col gap-lg">
                {% for ingredient in recipe.ingredients %}
                    <li class="recipe-list-item">{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex-col gap-lg">
            <h2>Cooking Steps</h2>
            <div class="h_seperator"></div>
            <ul class="flex-col gap-lg">
                {% for x in recipe.method %}
                    <li class="recipe-list-item">{{x}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>

{% endblock %}