<div class="reviews-board flex-col gap-lg padding-lg">
	<div class="flex-row flex-row-center-space-between">
		<p class="form-heading">{{ recipe.recipe_name }} Reviews</p>
		<button class="btn icon-btn" type="button" title="Close" onclick="toggleReviewsBoard()">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</div>
	{% for obj in recipe.reviews %}
	<div class="review-wrapper flex-col gap-lg padding-md">
		<p>Rated By <strong>{{ obj.created_by }}</strong></p>
		<p>{{ obj.review_desc }}</p>
		<p>Rating: {{ obj.rating }} <i class="rating-star fa-solid fa-star"></i></p>
	</div>
	{% endfor %}
</div>