<!-- REVIEW FORM TEMPLATE -->

<form action="{{ url_for('review', recipe_id=recipe._id) }}" method="post" class="review-form flex-col padding-md gap-md">
    <div class="flex-row flex-row-center-space-between">
        <p class="form-heading">Leave A Review</p>
        <button class="btn icon-btn tootip" type="button" tooltip-text="Close" onclick="toggleReviewForm()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    
    <div class="form-textarea">
        <i class="fa-solid fa-pen"></i>
        <textarea id="review_desc" name="review_desc" minlength="5"
            maxlength="700" placeholder="Review Description" required></textarea>
    </div>
    <div class="form-input">
        <i class="fa-solid fa-star"></i>
        <input id="rating" name="rating" type="text" placeholder="Rating:" required>
    </div>
    <button class="btn std-btn btn-md" type="submit">Submit</button>
</form>