

<div class="review-container flex-row gap-md">
    {% if avg_ratings[loop.index0] == 5 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
    {% elif avg_ratings[loop.index0] == 4.5 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star-half"></i>
    {% elif avg_ratings[loop.index0] == 4 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 3.5 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star-half"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 3 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 2.5 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star-half"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 2 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 1.5 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star fa-solid fa-star-half"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 1 %}
        <i class="rating-star fa-solid fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% elif avg_ratings[loop.index0] == 0.5 %}
        <i class="rating-star fa-solid fa-star-half"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% else %}
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
        <i class="rating-star-light fa-regular fa-star"></i>
    {% endif %}
</div>