/* BASE CSS VARIABLES */
:root {
    /* Colors */
    --dark-one-clr: hsl(240, 4%, 5%);
    --dark-two-clr: hsl(240, 4%, 10%);
    --dark-three-clr: hsl(240, 8%, 19%);
    --light-one-clr: hsl(240, 4%, 55%);
    --light-two-clr: hsl(240, 9%, 78%);
    --light-three-clr: hsl(0, 0%, 100%);
    --blue-one-clr: hsl(202, 96%, 50%);
    --blue-two-clr: hsla(202, 96%, 50%, 0.301);
    --error-clr: hsl(0, 79%, 53%);
    --error-transparent-clr: hsla(0, 79%, 53%, 0.4);
    --warning-clr: hsl(63, 88%, 65%);
    --warning-transparent-clr: hsla(63, 88%, 65%, 0.4);
    --success-clr: hsl(137, 88%, 65%);
    --success-transparent-clr: hsla(137, 88%, 65%, 0.4);
    --info-clr: hsl(220, 88%, 65%);
    --info-transparent-clr: hsla(220, 88%, 65%, 0.4);
    --base-red: hsl(0, 79%, 53%);
    --base-red-hover: hsl(0, 78%, 36%);
    --base-green: hsl(137, 74%, 51%);
    --base-green-hover: hsl(137, 71%, 44%);
    /* Base properties */
    --base-transition: all 0.8s ease-out 0.2s;
    --base-radius: 10px;
}

/*
BASE STYLING: ALL BASE STYLE CLASSES AND RESET CLASSES ARE ADDED
FIRST...
*/

/* ###### RESET STYLES ###### */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
body {
    position: relative;
}
a {
    text-decoration: none;
}
p {
    font-weight: 400;
}
li {
    list-style: none;
}
h1 {
    font-size: 2.3rem;
    font-weight: 500; 
}
h2 {
    font-size: 2rem;
    font-weight: 500; 
}
h3 {
    font-size: 1.3rem;
    font-weight: 500;
}
h4 {
    font-size: 1.1rem;
    font-weight: 500;
}

/* ###### PADDING CLASSES ###### */
.padding-sm {
    padding: 0.3rem;
}
.padding-md {
    padding: 0.5rem;
}

.padding-lg {
    padding: 1rem;
}

/* ###### GAP CLASSES ###### */
.gap-sm {
    gap: 0.3rem;
}
.gap-md {
    gap: 0.5rem;
}

.gap-lg {
    gap: 1rem;
}
.gap-xlg {
    gap: 2rem;
}

/* ###### FONT SIZE CLASSES ###### */

.font-xsm {
    font-size: 0.7rem;
}
.font-sm {
    font-size: 0.9rem;
}
.font-md {
    font-size: 1rem;
}
.font-lg {
    font-size: 1.2rem;
}

/* ###### FLEX LAYOUT CLASSES ###### */
.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center-align {
    align-items: center;
}
.flex-center-all {
    align-items: center;
    justify-content: center;
}


.h_seperator {
    width: 100%;
    height: 1px;
    background-color: var(--light-two-clr);
}


/* ##### FLASH MESSAGES CONTAINER  ##### */
.flash-container {
    border-radius: var(--base-radius);
    margin: 10px;
}
.flash-container li {
    font-size: 0.9rem;
    font-weight: 600;
}
.error {
    border: 1px solid var(--error-clr);
    background-color: var(--error-transparent-clr);
}
.success {
    border: 1px solid var(--success-clr);
    background-color: var(--success-transparent-clr);
}
.warning {
    border: 1px solid var(--warning-clr);
    background-color: var(--warning-transparent-clr);
}
.info {
    border: 1px solid var(--info-clr);
    background-color: var(--info-transparent-clr);
}

/* ##### APP BUTTONS  ##### */
/* Base button */
.btn {
    cursor: pointer;
    width: auto;
    transition: var(--base-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-weight: 400;
    font-size: 0.8rem;
}
/* Std button */
.std-btn {
    background-color: var(--blue-one-clr);
    border-radius: var(--base-radius);
    color: var(--light-three-clr);
    border: none;
}
.std-btn:hover {
    border-radius: 100px;
}
/* Std button variant 2 */
.std-btn-var-2 {
    background-color: var(--dark-one-clr);
    border-radius: var(--base-radius);
    color: var(--light-three-clr);
}
.std-btn-var-2:hover {
    border-radius: 100px;
}
/* Border-btn */
.border-btn {
    border: 2px solid var(--light-one-clr);
    color: var(--light-one-clr);
    border-radius: var(--base-radius);
    background-color: transparent;
}
.border-btn:hover {
    box-shadow: 0px 0px 8px var(--light-one-clr);
}
/* Social media btn */
.social-media-btn {
    width: 35px;
    height: 35px;
    border: 2px solid var(--light-two-clr);
    color: var(--light-two-clr);
    border-radius: 100vh;
    transition: var(--base-transition);
}
.social-media-btn:hover {
    border: 2px solid var(--blue-one-clr);
    box-shadow: 0px 0px 7px var(--blue-one-clr);
    color: var(--blue-one-clr);
}
/* Close Btn */
.close-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--dark-three-clr);
    border: none;
    background-color: transparent;
    transition: var(--base-transition);
    border-radius: 5px;
}
.close-btn:hover {
    background-color: #ffffff99;
}
.close-btn  i {
    font-size: 0.7rem;
}

/* Button sizes */
.btn-sm {
    height: 30px;
    padding: 0 0.5rem;
    
}
.btn-md {
    height: 40px;
    width: 150px;
}
.btn-lg {
    height: 50px;
    width: 180px;
}
.btn-max-height {
    height: 100%;
    width: auto;
}

/* Tooltip */
.tooltip {
    position: relative;
}
.tooltip::before {
    content: attr(tooltip-text);
    background-color: var(--dark-one-clr);
    color: var(--light-three-clr);
    text-wrap: nowrap;
    font-size: 0.7rem;
    border-radius: var(--base-radius);
    border: 1px solid var(--light-two-clr);
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(-100%, 100%);
    opacity: 0;
    height: 30px;
    padding: 0 0.5rem;
    display: grid;
    place-items: center;
    font-weight: 500;
    transition: opacity 1s;
}
.tooltip:hover::before {
    opacity: 1;
}

/* ##### CARD STYLING  ##### */
.recipe-card {
    width: 260px;
    background-color: var(--light-three-clr);
    transition: var(--base-transition);
    position: relative;
}
.recipe-card img {
    width: 260px;
    height: 300px;
    object-fit: cover;
}
.review-container {
    color: var(--warning-clr);
}
.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-one-clr);
    transition: var(--base-transition);
}
.card-title:hover {
    color: var(--blue-one-clr);
}
.recipe-card:hover {
    box-shadow: 3px 3px 8px var(--dark-two-clr);
}

/* Recipe Card Btn */
.card-btn {
    width: 50px;
    height: 50px;
    border-radius: var(--base-radius);
    border: 4px solid var(--light-three-clr);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--base-transition);
    position: absolute;
    top: 280px;
    right: 10px;
}
.card-add-btn {
    background-color: var(--base-green);
    color: var(--light-three-clr);
}
.card-add-btn:hover {
    background-color: var(--base-green-hover);
}
.card-delete-btn {
    background-color: var(--base-red);
    color: var(--light-three-clr);
}
.card-delete-btn:hover {
    background-color: var(--base-red-hover);
}

/* ###### BANNER SECTION ###### */
.banner {
    background-color: var(--dark-three-clr);
    display: grid;
    place-items: center;
    color: var(--light-three-clr);
    text-align: center;
}

/* ###### HEADER SECTION ###### */

/* Wrapper */
.header-wrapper {
    height: 60px;
    min-height: 60px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--light-two-clr);
    padding: 0 1%;
    background-color: #ffffff;
    z-index: 99999;
}

/* Logo */
.logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
}
.logo i {
    color: var(--blue-one-clr);
}
.logo-dark {
    color: var(--dark-one-clr);
}
.logo-light {
    color: var(--light-three-clr);
}

/* Nav bar */
.navbar {
    display: none;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.navbar ul {
    display: flex;
    height: inherit;
}
.navbar ul li {
    padding: 0 0.5rem;
    height: inherit;
    transition: var(--base-transition);
    display: grid;
    align-items: center;
}
.navbar ul li:hover {
    background-color: var(--blue-two-clr);
}
.navbar ul li a {
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
}

/* Nav btns wrapper */
.nav-btns-wrapper {
    display: none;
    align-items: center;
    gap: 1rem;
}

/* Nav icons btns wrapper */
.nav-icon-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

/* ###### HERO STYLING ###### */

/* Hero Divider */
.custom-shape-divider-bottom-1720442452 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translateY(2px);
}

.custom-shape-divider-bottom-1720442452 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 98px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720442452 .shape-fill {
    fill: #FFFFFF;
}

/* Wrapper */
.hero-wrapper {
    height: 70vh;
    position: relative;
}
/* Hero image */
.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
/* Hero overlay */
.hero-overlay {
    background: linear-gradient(to right, var(--dark-three-clr) 40%, #00000099);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1%;
    border: none;
}

/* ###### FOOTER STYLING ###### */

/* Footer wrapper */
.footer-wrapper {
    position: relative;
    background: linear-gradient(to right, var(--dark-one-clr) 45%, var(--dark-three-clr));
    display: grid;
    grid-template-rows: auto auto auto 40px;
    gap: 1rem;
    color: var(--light-two-clr);
    padding-top: 1rem;
}

/* Footer top wrapper */
.footer-top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.top-seperator {
    height: 1px;
    width: 100%;
    background-color: var(--light-two-clr);
}

/* Footer middle wrapper */
.footer-middle-wrapper {
    --footer-middle-grid-cols: 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--footer-middle-grid-cols), auto);
    justify-content: center;
    align-items: start;
    width: 100%;
}
.footer-middle-wrapper p {
    font-size: 0.9rem;
}

/* Footer bottom wrapper */
.footer-bottom-wrapper {
    background-color: var(--dark-one-clr);
    display: grid;
    place-items: center;
    color: var(--light-two-clr);
}
.footer-bottom-wrapper p {
    font-size: 0.8rem;
}

/* Footer content */
.footer-content {
    width: 280px;
    height: auto;
}

/* Subscribe input wrapper */
.subscribe-input-wrapper {
    height: 40px;
    width: 100%;
    background-color: var(--light-three-clr);
    border-radius: var(--base-radius);
    display: flex;
    padding: 2px;
}
.subscribe-input-wrapper input {
    height: 100%;
    width: 100%;
    color: var(--dark-two-clr);
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0.5rem;
    outline: none;
    border: none;
}

/* ###### CREATE ACCOUNT PAGE ###### */

/* Base Section */
.base-section {
    min-height: 600px;
    display: grid;
    place-items: center;
    padding: 1%;
}

/* Create account form */
.create-account-form {
    width: 100%;
    height: auto;
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 6px var(--light-two-clr);
    background-color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.create-account-form form {
    display: grid;
    gap: 1rem;
    width: 100%;
}
.form-content-wrapper {
    background-color: var(--blue-one-clr);
    border-radius: var(--base-radius);
    color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
    text-wrap: nowrap;
}

/* ##### SIGN IN/OUT FORM ##### */
.sign-in-out-form {
    width: 50%;
    height: auto;
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 6px var(--light-two-clr);
    background-color: var(--light-three-clr);
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 99999;
}
.sign-in-out-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ###### CREATE RECIPE PAGE ###### */

.create_recipe_form {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 6px var(--light-two-clr);
    background-color: var(--light-three-clr);
    padding: 1%;
}
.create_recipe_form form {
    display: grid;
    gap: 1rem;
}

/* UI ELEMENTS */

/* Form Combo */
.form-combo {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    border-bottom: 1px solid var(--light-two-clr);
    transition: var(--base-transition);
}
.form-combo:hover {
    border-bottom: 1px solid var(--light-one-clr);
}
.form-combo:focus-within {
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 0px 0px 7px var(--light-two-clr);
}
.form-combo i {
    color: var(--blue-one-clr);
}

.form-combo select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
    resize: none;
}
.form-combo option {
    background-color: var(--light-three-clr);
}

/* Form textarea */
.form-textarea {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: top;
    gap: 0.4rem;
    padding: 0.4rem;
    border-bottom: 1px solid var(--light-two-clr);
    transition: var(--base-transition);
}
.form-textarea:hover {
    border-bottom: 1px solid var(--light-one-clr);
}
.form-textarea:focus-within {
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 0px 0px 7px var(--light-two-clr);
}
.form-textarea textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
    resize: none;
}
.form-textarea i {
    color: var(--blue-one-clr);
}

/* Form input */
.form-input {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    border-bottom: 1px solid var(--light-two-clr);
    transition: var(--base-transition);
}
.form-input:hover {
    border-bottom: 1px solid var(--light-one-clr);
}
.form-input:focus-within {
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 0px 0px 7px var(--light-two-clr);
}
.form-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
}
.form-input i {
    color: var(--blue-one-clr);
}


/* Icon Btn */
.icon-btn {
    width: 30px;
    height: 30px;
    border-radius: var(--base-radius);
    display: grid;
    place-items: center;
    transition: var(--base-transition);
    color: var(--dark-two-clr);
}
.icon-btn:hover {
    background-color: var(--blue-two-clr);
}

.footer-link {
    color: var(--light-two-clr);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: var(--base-transition);
    font-size: 0.9rem;
    font-weight: 400;
}
.footer-link:hover {
    color: var(--light-three-clr);
}
.footer-link i {
    color: var(--blue-one-clr);
}

/* Seperators */
.footer-seperator {
    width: 50%;
    height: 1px;
    background-color: var(--blue-one-clr);
}

/* Fieldset */
.f-set {
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    padding: 1%;
    display: grid;
    gap: 1rem;
    overflow-y: auto;
    max-height: 300px;
}
.f-set legend {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.2rem;
    background-color: inherit;
}

/* Table */
.form-tbl {
    border: 1px solid var(--light-two-clr);
    border-collapse: collapse;
}
.form-tbl td, th {
    border: 1px solid var(--light-two-clr);
    padding: 0 5px;
}
.form-tbl th {
    background-color: var(--blue-two-clr);
    font-weight: 500;
    font-size: 0.9rem;
}
.tbl-col-1 {
    width: 50px;
}
.form-tbl tr {
    height: 50px;
    text-align: left;
}
.form-tbl textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
    resize: none;
}

/* ###### VIEW RECIPES SECTION ###### */
.view-recipe-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    justify-content: center;
    justify-items: center;
}

/* ###### MY RECIPES SECTION ###### */
.my_recipes-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    justify-content: center;
    justify-items: center;
}

/* ###### RECIPE SECTION ###### */
.recipe-section {
    min-height: 800px;
}
.recipe-top-wrapper,
.recipe-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    justify-items: center;
}
.recipe-image {
    width: 280px;
    height: 300px;
    object-fit: cover;
}
.recipe-content {
    max-width: 280px;
}
.recipe-item {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.recipe-item i {
    color: var(--blue-one-clr);
}
.recipe-list-item {
    font-weight: 400;
}

/* Searchbar */
.searchbar {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--light-three-clr);
    border-radius: var(--base-radius);
    border: 1px solid var(--light-two-clr);
    padding: 2px;
}
.searchbar input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    transition: var(--base-transition);
}
.searchbar:focus-within {
    box-shadow: 0px 0px 7px var(--light-two-clr);
}

/* Search results window */
.search-results-window {
    width: 100%;
    background-color: var(--light-three-clr);
    border-radius: var(--base-radius);
    border: 1px solid var(--light-two-clr);
    box-shadow: 0px 0px 7px var(--light-two-clr);
}
.search-result {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--dark-one-clr);
    font-weight: 500;
    transition: var(--base-transition);
    border-radius: var(--base-radius);
    padding: 3px;
}
.search-result:hover {
    background-color: var(--blue-two-clr);
}
.search-result-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
}

/* ###### MEDIA QUERIES ###### */

/* Media queries greater than a min width of 661px */
@media all and (min-width: 661px) {
    /* Nav bar */
    .navbar {
        display: flex;
    }
    /* Nav icons btns wrapper */
    .nav-icon-btns-wrapper {
        display: none;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        --footer-middle-grid-cols: 2;
    }
}

/* Media queries greater than a min width of 861px */
@media all and (min-width: 861px) {
    
    /* Nav btns wrapper */
    .nav-btns-wrapper {
        display: flex;
    }
    /* Footer top wrapper */
    .footer-top-wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
    }
    /* Create account form */
    .create-account-form {
        width: 50%;
        flex-direction: row;
    }
}

/* Media queries greater than a min width of 1261px */
@media all and (min-width: 1261px) {
    h1 {
        font-size: 2.8rem;
    }
    /* Hero overlay */
    .hero-overlay {
        padding-top: 2%;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        --footer-middle-grid-cols: 4;
    }
    .create_recipe_form {
        width: 70%;
    }
}