/*
MAIN STYLESHEET FOR THE APPLICATION: ALL SECTIONS WILL BE COMMENTED IN UPPERCASE
TO ENSURE THE FILE STAYS CLEAN AND ORGANISED
*/

/* BASE CSS VARIABLES */
:root {
    /* Colors */
    --dark-one-clr: hsl(240, 4%, 5%);
    --dark-two-clr: hsl(240, 4%, 10%);
    --dark-three-clr: hsl(240, 8%, 19%);
    --light-one-clr: hsl(240, 4%, 55%);
    --light-two-clr: hsl(240, 9%, 78%);
    --light-three-clr: hsl(0, 0%, 100%);
    --blue-one-clr: hsl(202, 96%, 50%);
    --blue-two-clr: hsla(202, 96%, 50%, 0.301);
    /* Base properties */
    --base-transition: all 0.8s ease-out 0.2s;
    --base-radius: 10px;
}


/* ###### GLOBAL STYLES ###### */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
body {
    position: relative;
}
a {
    text-decoration: none;
}
p {
    font-weight: 400;
}
li {
    list-style: none;
}
h1 {
    font-size: 2.3rem;
    font-weight: 500; 
}
h2 {
    font-size: 2rem;
    font-weight: 500; 
}
h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

/* ###### BANNER SECTION ###### */
.banner {
    height: 30px;
    min-height: 30px;
    background-color: var(--dark-three-clr);
    display: grid;
    place-items: center;
    color: var(--light-three-clr);
    
}
.banner p {
    font-size: 0.8rem;
}

/* ###### HEADER SECTION ###### */

/* Wrapper */
.header-wrapper {
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--light-two-clr);
    padding: 0 1%;
    background-color: #ffffff;
    z-index: 99999;
}

/* Logo */
.logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
}
.logo i {
    color: var(--blue-one-clr);
}
.logo-dark {
    color: var(--dark-one-clr);
}
.logo-light {
    color: var(--light-three-clr);
}

/* Nav bar */
.navbar {
    display: none;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.navbar ul {
    display: flex;
    height: inherit;
}
.navbar ul li {
    padding: 0 0.5rem;
    height: inherit;
    display: grid;
    place-items: center;
    transition: var(--base-transition);
}
.navbar ul li:hover {
    background-color: var(--blue-two-clr);
}
.navbar ul li a {
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
}

/* Nav btns wrapper */
.nav-btns-wrapper {
    display: none;
    align-items: center;
    gap: 1rem;
}

/* Nav icons btns wrapper */
.nav-icon-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

/* ###### HERO STYLING ###### */

/**/
.hero-divider-bottom-1719657143 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-divider-bottom-1719657143 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 178px;
}

.hero-divider-bottom-1719657143 .shape-fill {
    fill: #FFFFFF;
}

/* Wrapper */
.hero-wrapper {
    height: 60vh;
    position: relative;
}
/* Hero image */
.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Hero overlay */
.hero-overlay {
    background: linear-gradient(to right, var(--dark-three-clr) 40%, #00000099);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1%;
}
/**/
.hero-btn-wrapper {
    display: flex;
    gap: 1rem;
}

/* ###### FOOTER STYLING ###### */

/* Footer divider */
.footer-divider-top-1719649700 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}
.footer-divider-top-1719649700 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 178px;
}
.footer-divider-top-1719649700 .shape-fill {
    fill: #FFFFFF;
}

/* Footer wrapper */
.footer-wrapper {
    padding-top: 155px;
    position: relative;
    min-height: 300px;
    background: linear-gradient(to right, var(--dark-one-clr) 45%, var(--dark-three-clr));
    display: grid;
    grid-template-rows: auto auto auto 40px;
    gap: 1rem;
    color: var(--light-two-clr);
}

/* Footer top wrapper */
.footer-top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
/* Social icons wrapper */
.footer-social-icons-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.top-seperator {
    height: 1px;
    width: 100%;
    background-color: var(--light-two-clr);
}

/* Footer middle wrapper */
.footer-middle-wrapper {
    --footer-middle-grid-cols: 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--footer-middle-grid-cols), auto);
    justify-content: center;
    align-items: start;
    width: 100%;
}
.footer-middle-wrapper p {
    font-size: 0.9rem;
}

/* Footer bottom wrapper */
.footer-bottom-wrapper {
    background-color: var(--dark-one-clr);
    display: grid;
    place-items: center;
    color: var(--light-two-clr);
}
.footer-bottom-wrapper p {
    font-size: 0.8rem;
}

/* Footer content */
.footer-content {
    width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Subscribe input wrapper */
.subscribe-input-wrapper {
    height: 40px;
    width: 100%;
    background-color: var(--light-three-clr);
    border-radius: var(--base-radius);
    display: flex;
    padding: 2px;
}
.subscribe-input-wrapper input {
    height: 100%;
    width: 100%;
    color: var(--dark-two-clr);
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0.5rem;
    outline: none;
    border: none;
}

/* ###### CREATE ACCOUNT PAGE ###### */

/* Base Section */
.base-section {
    min-height: 600px;
    display: grid;
    place-items: center;
}

/* Create account form */
.create-account-form {
    width: 100%;
    height: auto;
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 6px var(--light-two-clr);
    background-color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.create-account-form form {
    display: grid;
    gap: 1rem;
    width: 100%;
}
.form-content-wrapper {
    background-color: var(--blue-one-clr);
    border-radius: var(--base-radius);
    color: var(--light-three-clr);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
    text-wrap: nowrap;
}

/* ##### SIGN IN/OUT FORM ##### */
.sign-in-out-form {
    width: 50%;
    height: auto;
    border: 1px solid var(--light-two-clr);
    border-radius: var(--base-radius);
    box-shadow: 3px 3px 6px var(--light-two-clr);
    background-color: var(--light-three-clr);
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 99999;
}
.sign-in-out-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* ##### TOOLBAR ##### */
.toolbar {
    height: 50px;
    width: 100%;
    background-color: var(--light-three-clr);
    color: var(--dark-one-clr);
    box-shadow: 0px 3px 7px var(--light-two-clr);
    display: flex;
    align-items: center;
    padding: 0 5%;
}


/* UI ELEMENTS */

/* Form input */
.form-input {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    border-bottom: 1px solid var(--light-two-clr);
    transition: var(--base-transition);
}
.form-input:hover {
    border-bottom: 1px solid var(--light-one-clr);
}
.form-input:focus-within {
    box-shadow: 0px 3px 7px var(--blue-one-clr);
}
.form-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--dark-two-clr);
    font-size: 0.9rem;
    font-weight: 400;
}
.form-input i {
    color: var(--blue-one-clr);
}

/* Button sizes */
.btn-lg {
    width: 180px;
    height: 50px;
}
.btn-md {
    width: 155px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 400;
}
.btn-sm {
    height: 30px;
    width: auto;
    font-size: 0.8rem;
    font-weight: 400;
}
.btn-max-height {
    height: 100%;
    width: auto;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 0.4rem;
}

/* Buttons */
.btn {
    cursor: pointer;
    border-radius: var(--base-radius);
    background-color: var(--blue-one-clr);
    transition: var(--base-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--dark-two-clr);
    border: 1px solid var(--light-one-clr);
}
.btn:hover {
    border-radius: 100px;
}

.icon-btn {
    width: 30px;
    height: 30px;
    border-radius: var(--base-radius);
    display: grid;
    place-items: center;
    transition: var(--base-transition);
    color: var(--dark-two-clr);
}
.icon-btn:hover {
    background-color: var(--blue-two-clr);
}

.social-media-btn {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border: 2px solid var(--light-two-clr);
    color: var(--light-two-clr);
    border-radius: 100vh;
    transition: var(--base-transition);
}
.social-media-btn:hover {
    border: 2px solid var(--blue-one-clr);
    box-shadow: 0px 0px 7px var(--blue-one-clr);
    color: var(--blue-one-clr);
}

.footer-link {
    color: var(--light-two-clr);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: var(--base-transition);
    font-size: 0.9rem;
    font-weight: 400;
}
.footer-link:hover {
    color: var(--light-three-clr);
}
.footer-link i {
    color: var(--blue-one-clr);
}

/* Seperators */
.footer-seperator {
    width: 50%;
    height: 1px;
    background-color: var(--blue-one-clr);
}

/* Tooltip */
.tooltip {
    position: relative;
}
.tooltip::before {
    content: attr(tooltip-text);
    background-color: var(--dark-one-clr);
    color: var(--light-three-clr);
    text-wrap: nowrap;
    font-size: 0.7rem;
    border-radius: var(--base-radius);
    border: 1px solid var(--light-two-clr);
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(-100%, 100%);
    opacity: 0;
    height: 30px;
    padding: 0 0.5rem;
    display: grid;
    place-items: center;
    font-weight: 500;
    transition: opacity 1s;
}
.tooltip:hover::before {
    opacity: 1;
}

/* ###### MEDIA QUERIES ###### */

/* Media queries greater than a min width of 661px */
@media all and (min-width: 661px) {
    /* Nav bar */
    .navbar {
        display: flex;
    }
    /* Nav icons btns wrapper */
    .nav-icon-btns-wrapper {
        display: none;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        --footer-middle-grid-cols: 2;
    }
}

/* Media queries greater than a min width of 861px */
@media all and (min-width: 861px) {
    
    /* Nav btns wrapper */
    .nav-btns-wrapper {
        display: flex;
    }
    /* Footer top wrapper */
    .footer-top-wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
    }
    /* Create account form */
    .create-account-form {
        width: 50%;
        flex-direction: row;
    }
}

/* Media queries greater than a min width of 1261px */
@media all and (min-width: 1261px) {
    h1 {
        font-size: 3.3rem;
    }
    /* Hero overlay */
    .hero-overlay {
        padding-top: 5%;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        --footer-middle-grid-cols: 4;
    }
}